<html>
<html>

<head>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;700;800&family=Rajdhani:wght@400;600;700&display=swap');
    </style>;
    </style>
    <link rel="stylesheet" href="../public/css/estilos.css">
</head>

<body>
    <h1>DH News</h1>
    <h3>Postado em 21/07/2022</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam odio iusto dolor libero delectus perspiciatis
        necessitatibus totam recusandae perferendis illum dignissimos provident eligendi repellat nemo culpa, ab natus
        praesentium facilis.
    </p>
    <img src="../public/img/destaque.webp" alt="Pessoas Sentadas a mesa no Saguão">
    <section>
    <div>
        <h2>Pariatur architecto dolorem debitis distinctio </h2>

        <article>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur doloremque nam eveniet minima
            quis itaque tenetur maiores quod blanditiis beatae. Perspiciatis, sapiente itaque. Excepturi nobis dolorem
            modi consequuntur sint optio?
        </article>
    </div>
    <ol>
        <li>Texto 1</li>
        <li>Texto 2</li>
        <li>Texto 3</li>
    </ol>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Et enim tenetur deserunt quisquam vitae corrupti.
        Eveniet, voluptatibus alias sapiente, autem libero mollitia possimus hic culpa, nisi nostrum soluta ex
        consequatur?
    </p>
</section>
<h2>
    Nunquam totam sit aperiam, pariatur architecto doloremquem debitis distinctio
</h2>
<p>
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem quia necessitatibus est qui consectetur aliquam similique exercitationem laborum deserunt sed odio consequatur.
</p>
<p>
    Lorem ipsum, <b>dolor sit amet consectetur adipisicing elit</b>. Dolorem quia necessitatibus est qui consectetur aliquam similique exercitationem laborum deserunt sed odio consequatur, laboriosam, iusto consequuntur quis fugit. Velit, animi eum.
    </p>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem quia necessitatibus est qui consectetur aliquam similique exercitationem laborum deserunt sed odio consequatur, laboriosam, iusto consequuntur quis fugit. Velit, animi eum.
        </p>

    <footer>
        <a href="facebook.com">
            <img src="../public/img/facebook.svg">
        </a>
        <a href="instagram.com">
            <img src="../public/img/instagram.svg">
        </a>
        <a href="linkedin.com">
            <img src="../public/img/linkedin.svg">
        </a>
        <a href="youtube.com">
            <img src="../public/img/youtube.svg">
        </a>

    </footer>
</body>

</html>